<%- include('partials/header') -%>

<main>
  <div class="banner-container">
    <div class="banner-overlay"></div>
    <h2 class="welcome-text">Bienvenido al #Arcadeverso</h2>
    <img src="/imgs/bannerindex.jpeg" alt="Banner" class="banner-image">  
  </div>
  <div class="cta-buttons">
    <div class="description-web">
      <p>¡Bienvenido a Arcadeverso! El Universo más remoto donde tus personajes interactuan entre ellos.</p>
    </div>
    <a href="/login" class="btn">Iniciar Sesión</a>
    <a href="/signup" class="btn">Registrarse</a>
  </div>
</main>

<%- include('partials/footer') -%>